*{
    margin: 0; 
    padding: 0; 
}
.container{
    display: grid; 
    width: 100%; 
    height: 100vh; 
    grid-template: 80px 1fr 80px / 200px 1fr;
    grid-template-areas: 
                "header header"
                "sidebar main"  
                "footer footer"; 
}

.main{
    grid-area: main;
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);     
    width: 100%; 
    height: 100%; 
    background-color: cornflowerblue;
}

.header{
    display: flex; 
    justify-content: center;
    align-items: center;
    grid-area: header; 
    background-color: #778899;
    font-size: 35px;
    color: #ffffff; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sidebar{
    display: grid; 
    grid-template-rows: repeat(6, 1fr); 
    grid-area: sidebar; 
    width: 100%; 
    height: 100%;  
    font-size: 25px; ;
    align-items: center;
    background-color: #C0C0C0;
}

.footer{
    grid-area: footer; 
    background-color: #778899;
}

.main__form{   
    display: grid; 
    align-items: center;
    grid-area: 1 / 1 / 3 / 3;  
    width: 100%; 
    height: 100%; 
    background-color: #FFFAF0;
}

.main__gallery{   
    display: grid; 
    grid-template: repeat(8, 1fr) / repeat(8, 1fr); 
    background-color: #FFF0F5;
    grid-area: 1 / 3/ 3 / 6; 
    grid-gap: 10px; 
    width: 100%; 
    height: 100%; 
}

.forma{
    display: grid; 
    grid-template-columns: 30px 200px 1fr 30px;
    grid-gap: 16px;
    align-items: center;   
}

.forma__title{
    grid-column-start: 2; 
    grid-column-end: 4; 
    text-align: center;
}

label{
    grid-column-start: 2; 
    grid-column-end: 3; 
}

input{
    grid-column-start: 3; 
    grid-column-end: 4;
    height: 30px;
    text-align: center;   
}

.forma__button{
    grid-column: 2 / 4;
    height: 30px;  
}

.sidebar__nav1{
    grid-row: 2/3; 
    text-align: center;
}

.sidebar__nav2{
    grid-row: 3/4; 
    text-align: center;
}

.sidebar__nav3{
    grid-row: 4/5; 
    text-align: center;
}

.sidebar__nav4{
    grid-row: 5/6; 
    text-align: center;
}

.gallery__warrper1{
    grid-column: 2 / 4; 
    grid-row: 2 / 6; 
}

.gallery__warrper2{
    grid-column: 4 / 6;  
    grid-row: 2 / 4;  
}

.gallery__warrper3{
    grid-column: 6 / 8; 
    grid-row: 2 / 4;    
}

.gallery__warrper4{
    grid-column: 4 / 8; 
    grid-row: 4 / 6;
}

.gallery__warrper5{
    grid-column: 2 / 3; 
    grid-row: 7 / 8;
}

.gallery__warrper6{
    grid-column: 3 / 4; 
    grid-row: 7 / 8;
}

.gallery__warrper7{
    grid-column: 4 / 5; 
    grid-row: 7 / 8;
    order: 1; 
}

.gallery__warrper8{
    grid-column: 5 / 6; 
    grid-row: 7 / 8;
}

.gallery__warrper9{
    grid-column: 6 / 7; 
    grid-row: 7 / 8;
}

.gallery__warrper10{
    grid-column: 7 / 8; 
    grid-row: 7 / 8;
}

.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}